#desktop {
    flex: 1 1 auto;
    font-size: 10px;
}

#desktop .desktop-item {
    height: var(--d-item-h);
    width: var(--d-item-w);

    text-align: center;

    user-select: none;

    padding: 7px 0;
    color: var(--font-light);

    border: 1px solid teal;
}

#desktop .desktop-item:hover {
    border: 1px solid lightgray;
}